--
-- PostgreSQL database dump
--

\restrict nwIivQc7vyfPchbQcyXk87U7KRsgVh7tL4bWiBPCdUx05Izhll4xvfiDl3SoxH9

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: classification; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.classification AS ENUM (
    'technical',
    'soft skills',
    'business'
);


ALTER TYPE public.classification OWNER TO postgres;

--
-- Name: department; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.department AS ENUM (
    'java',
    'net',
    'sap',
    'all'
);


ALTER TYPE public.department OWNER TO postgres;

--
-- Name: p_group; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.p_group AS ENUM (
    'developers',
    'managers',
    'hr',
    'administration'
);


ALTER TYPE public.p_group OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: course_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_users (
    cu_id bigint NOT NULL,
    user_id bigint,
    course_id bigint
);


ALTER TABLE public.course_users OWNER TO postgres;

--
-- Name: CourseUsers_cu_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.course_users ALTER COLUMN cu_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."CourseUsers_cu_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    course_id bigint NOT NULL,
    course_name character varying(255) NOT NULL,
    n_participants bigint DEFAULT 0 NOT NULL,
    classification character varying(255) NOT NULL,
    department character varying(255),
    p_group text[]
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: Course_course_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.courses ALTER COLUMN course_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."Course_course_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id bigint NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN user_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public."User_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics (
);


ALTER TABLE public.analytics OWNER TO postgres;

--
-- Name: course_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_files (
    file_id bigint NOT NULL,
    course_id bigint NOT NULL,
    file_name character varying(255) NOT NULL,
    file_type character varying(255),
    mime_type character varying(255),
    size_bytes bigint,
    storage_path character varying(255) NOT NULL
);


ALTER TABLE public.course_files OWNER TO postgres;

--
-- Name: course_files_file_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.course_files ALTER COLUMN file_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.course_files_file_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: course_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.course_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_seq OWNER TO postgres;

--
-- Name: courses_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.courses_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_seq OWNER TO postgres;

--
-- Data for Name: analytics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.analytics  FROM stdin;
\.


--
-- Data for Name: course_files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_files (file_id, course_id, file_name, file_type, mime_type, size_bytes, storage_path) FROM stdin;
\.


--
-- Data for Name: course_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_users (cu_id, user_id, course_id) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses (course_id, course_name, n_participants, classification, department, p_group) FROM stdin;
11	newcourse	22	technical	net	{developers}
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, first_name, last_name) FROM stdin;
7	adad	adad
9	User1	User
\.


--
-- Name: CourseUsers_cu_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."CourseUsers_cu_id_seq"', 14, true);


--
-- Name: Course_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Course_course_id_seq"', 24, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 9, true);


--
-- Name: course_files_file_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_files_file_id_seq', 13, true);


--
-- Name: course_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_seq', 1, false);


--
-- Name: courses_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_seq', 1, false);


--
-- Name: course_files course_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_files
    ADD CONSTRAINT course_files_pkey PRIMARY KEY (file_id);


--
-- Name: courses name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT name_unique UNIQUE (course_name);


--
-- Name: users pk_unique1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_unique1 UNIQUE (user_id);


--
-- Name: courses pk_unique2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT pk_unique2 UNIQUE (course_id);


--
-- Name: course_users pk_unique3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_users
    ADD CONSTRAINT pk_unique3 UNIQUE (cu_id);


--
-- Name: course_files fk_cf_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_files
    ADD CONSTRAINT fk_cf_course FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: course_users fk_course_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_users
    ADD CONSTRAINT fk_course_id FOREIGN KEY (course_id) REFERENCES public.courses(course_id) ON DELETE CASCADE;


--
-- Name: course_users fk_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_users
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict nwIivQc7vyfPchbQcyXk87U7KRsgVh7tL4bWiBPCdUx05Izhll4xvfiDl3SoxH9

